.column{
	height: 100%;
	float: left;
}
.lateral-links{
	width: 20%;
	background-color: #3F51B5;
	display: grid;
}
.lateral-links a{
	text-decoration: none;
    margin: 10px;
    font-size: 31px;
    font-family: sans-serif;
    font-weight: bold;
    color: #ebefff;
}

@media screen and (max-width: 760px) {
	.lateral-links{
		width: 100%;
	}
	.content{width: 100% !important; margin-bottom: 5%;}
	.insert-form-content .content-form input, .insert-form-content .content-form select, .insert-form-content .content-form textarea{
		margin-top: 5px !important;
    	margin-bottom: 5px !important;
	}

}

.content{width: 80%;}

.insert-form-content{
	display: table;
	margin: 0 auto;
	margin-top: 5%;
	font-family: sans-serif;
}
.insert-form-content p{
	font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 5%;
    color: #262f56;
}
.insert-form-content .content-form input, .insert-form-content .content-form select, .insert-form-content .content-form textarea{
  width: 100%;
  font-family: sans-serif;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin: 5px;
}
.insert-form-content .content-form button{
	width: 100%;
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	margin-top: 15px;
	font-size: 20px;
}

p#false{display: none;}
p#true{display: block; color: #E84F5E;margin: 10px;}

#false{display: none;}
#true{display: block;}

.grid_data{
	display: grid;
    padding: 10px;
}

.grid_data span{
	font-size: 25px;
    font-weight: bold;
    border: solid #d4d4d4;
    border-radius: 5px;
}
.grid_data a{
	font-size: 20px;
    font-weight: 100;
    padding-left: 10px;
    border: solid 1px #AAA;
    margin: 5px;
    margin-left: 37px;
}

.grid_data span button {
    float: left;
    border: none;
    border-right: solid 1px #AAA;
    padding: 4px 11px;
    background: transparent;
    color: #31a2e6;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
}

.grid_data a button{
	float: right;
    border: none;
    border-left: solid 1px #AAA;
    padding: 5px 10px;
    background: transparent;
    color: #f52755;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-left: 15px;
}